<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="#/dashboard/advancedSearch">Advanced Search</a></li>
                <li><a href="#/dashboard/fullTextSearch">Full Text Search</a></li>
                <li class="active"><a href="#/dashboard/browse">Browse</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h4 class="page-header">Browse</h4>
            <div class="row placeholders">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading"></div>
                        <div class="panel-body">
                            <div class="row" id="sub-content">
                                <div class="col-lg-12">
                                        <div class="letter-group">
                                            <ul class="ul-letters">
                                                <li id="a"><a href="#">A</a></li>
                                                <li id="b"><a href="#">B</a></li>
                                                <li id="c"><a href="#">C</a></li>
                                                <li id="d"><a href="#">D</a></li>
                                                <li id="e"><a href="#">E</a></li>
                                                <li id="f"><a href="#">F</a></li>
                                                <li id="g"><a href="#">G</a></li>
                                                <li id="h"><a href="#">H</a></li>
                                                <li id="i"><a href="#">I</a></li>
                                                <li id="j"><a href="#">J</a></li>
                                                <li id="k"><a href="#">K</a></li>
                                                <li id="l"><a href="#">L</a></li>
                                                <li id="m"><a href="#">M</a></li>
                                                <li id="n"><a href="#">N</a></li>
                                                <li id="o"><a href="#">O</a></li>
                                                <li id="p"><a href="#">P</a></li>
                                                <li id="q"><a href="#">Q</a></li>
                                                <li id="r"><a href="#">R</a></li>
                                                <li id="s"><a href="#">S</a></li>
                                                <li id="t"><a href="#">T</a></li>
                                                <li id="u"><a href="#">U</a></li>
                                                <li id="v"><a href="#">V</a></li>
                                                <li id="w"><a href="#">W</a></li>
                                                <li id="x"><a href="#">X</a></li>
                                                <li id="y"><a href="#">Y</a></li>
                                                <li id="z"><a href="#">Z</a></li>
                                            </ul>
                                        </div>
                                    <div class="result" id="result-content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
